<% if resource.errors.any? %>
  <div class="alert alert-danger" data-turbo-cache="false">
    <strong>Please correct the following errors:</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>