<% provide :page_title, "Edit Wholesale Funder" %>

<div class="admin-card">
  <h2>Edit Wholesale Funder</h2>
  <p class="form-help-text"><%= @wholesale_funder.name %></p>

  <div style="max-width: 600px;">
    <%= render 'form', wholesale_funder: @wholesale_funder %>
  </div>
</div>
