<div class="p-6">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">Edit Wholesale Funder</h1>
    <p class="text-gray-600 mt-2"><%= @wholesale_funder.name %></p>
  </div>

  <div class="max-w-2xl">
    <%= render 'form', wholesale_funder: @wholesale_funder %>
  </div>
</div>
