<% provide :page_title, "Add New Wholesale Funder" %>

<div class="admin-card">
  <h2>Add New Wholesale Funder</h2>
  <p class="form-help-text">Create a new wholesale funding allocation</p>

  <div style="max-width: 600px;">
    <%= render 'form', wholesale_funder: @wholesale_funder %>
  </div>
</div>
