<div class="container">
  <div class="breadcrumb">
    <%= link_to 'Legal Documents', admin_legal_documents_path %><span>›</span> New
  </div>
<% content_for :page_title, "New Legal Document" %>
  <p>Create from scratch or use a template.</p>
  <%= render 'form', legal_document: @legal_document %>
</div>
