<% content_for :page_title, "Create New Privacy Policy Version" %>

<div class="admin-form-container">
  <div class="admin-form-header">
    <h1>Create New Privacy Policy Version</h1>
  </div>

  <div class="admin-form-content" 
       data-controller="preview" 
       data-preview-preview-url-value="<%= preview_admin_privacy_policies_path %>">
    <%= render 'form' %>
  </div>
</div>