<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      body { 
        font-family: Arial, sans-serif; 
        color: #333; 
        line-height: 1.5;
      }
      @page {
        margin: 15mm;
      }
      h1, h2, h3 {
        color: #1F2937;
      }
      a {
        color: #2196F3;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
